/* Kids.css */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-card {
  flex-basis: calc(33.33% - 20px);
  background-color: #e5e3e3;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.5);
}
.image {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: #000000;
}

.category {
  font-style: italic;
}

.quantity {
  color: #888;
}
